<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Curriculum</title>
    <link rel="icon" href="../../img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="div1">
            <p> CV of Victor Merino Saceda</p>
           <p style="margin-top: 0%;">Lenguage Aviable:</p>
            <a href="../../index.html">
                <img src="../../img/Bandera_de_España.svg.png" alt="Spanish">
            </a>
            <a href="./index_en.html">
                <img src="../../img/Flag_of_the_United_Kingdom_(3-5).svg.png" alt="English">
            </a>            
        </div>
        <div class="div2">
            <div>
                <a href="./index_en.html" style="margin-right: 70%;">
                    <img src="../../img/mundo.webp" alt="Home">
                </a>
                <a href="../../view/en/experience.html">
                    <img src="../../img/camino.png" alt="Experience">
                </a>
                <a href="../../view/en/education.html">
                    <img src="../../img/colegio.png" alt="Education">
                </a>
                <a href="./CV-en.html">
                    <img src="../../img/dni.png" alt="CV PDF">
                </a>
            </div>  
        </div>
    </header>
    <div><h1 >Who I am?</h1></div>
    
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <p class="descripcionmia11">I am a boy, I am 18 year  and old my name is Victor. I living in L'Hospitalet de llobregat, I consider myself a person worker, responsible, attentive and this is my introduction a my curriculum vitae.</p>
          </div>
          <div class="col">
            <img src="../../img/fotomia.JPG" class="imgprincipal">
          </div>
        
        </div>
      </div>
      <br>
      <div>
        <div class="descripcion">
            <p style="background-color: blueviolet; text-align: center;">Descripcion about me</p>
            <p class="descripcionmia12">I am Victor Merino, I studiet middle grade of microinformatica and network in Joan XXIII, I will like to studiet superior grade of Administrative microinformatica and network. I have experience because I made practices of middle grade. Finally my objective is cooperate in works of buisness as for example development of videogames.</p>
        </div>
      </div>
      <br>
      <div>
            <div style="text-align: center;"><p style="background-color: red;"> My presentation in a video</p> </div>
            <div class="video"><iframe width="500" height="315" src="https://www.youtube.com/embed/KDbIT-priFo?si=I8DRNb8Dwqmw_nan" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
      </div>
      <br> 
      <div>
        <p style="text-align: center; background-color: rgb(249, 249, 182);">Languages </p>
      </div>
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <p>Spanish: Native</p>
          </div>
          <div class="col">
            <p>English: Basic</p>
          </div>
          <div class="col">
            <p>Catalan: Half</p>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <img src="../../img/Bandera_de_España.svg.png" style="width: 30%;">
          </div>
          <div class="col">
            <img src="../../img/Flag_of_the_United_Kingdom_(3-5).svg.png" style="width: 30%;">
          </div>
          <div class="col">
            <img src="../../img/Flag_of_Catalonia.svg" style="width: 30%;">
          </div>
        </div>
      </div>
      <br> 
      <div>
        <p style="text-align: center; background-color: rgb(55, 0, 255);">Contact </p>
      </div>
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            Telephone: 689 91 93 09
          </div>
          <div class="col">
            Email: victormerino.saceda@gmail.com
          </div>
          <div class="col">
            Address: Hospitalet de Llobregat (08901)
          </div>
        </div>
      </div>
</body>
<br>
<footer class="footer">
    <div class="divfooter">
        <div>
            <a href="./index_en.html">
                <img src="../../img/mundo.webp" alt="Home">
            </a>
            <a href="./experience.html">
                <img src="../../img/camino.png" alt="Experience">
            </a>
            <a href="./education.html">
                <img src="../../img/colegio.png" alt="Education">
            </a>
            <a href="./CV-en.html">
                <img src="../../img/dni.png" alt="CV PDF">
            </a>
        </div>  
    </div>
</footer>
</html>